<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JayFleischer.OpenTkControl" version="1.0.1" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
</packages>