<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net472" />
  <package id="Fody" version="4.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="JayFleischer.OpenTkControl" version="1.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
</packages>